body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container, .container2{
    display: flex;
    gap: 20px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.caixa{
    width: 80px;
    height: 80px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.container .caixa{
    background-color: red;
}

.container2 .caixa{
    background-color: blue;
}